.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 400;

  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    background: gray;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

a.btn {
  &:visited {
    text-decoration: none;
    color: initial;
  }
}

.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-danger {
  background: var(--danger-color);
  border-color: var(--danger-color);
  color: white;
}
