<div class="card">
  <div class="card-header flex-container">
    <img [src]="recipe().img" alt="Avatarbild für das Rezept" class="card-avatar-img">
    <h3>{{ recipe().name }}</h3>
  </div>
  <img src="{{recipe().img}}" alt="Bild zum Rezept" class="card-image">

  <div class="card-body">
    <p><strong>Schwierigkeit:</strong> {{ recipe().difficulty }}</p>
    <p><strong>Dauer:</strong> {{ recipe().duration.value }} {{ recipe().duration.unit }}</p>
  </div>

  <div class="card-footer">
    <a [routerLink]="['/recipes', recipe().id]" class="btn btn-primary">Details anzeigen</a>
  </div>
</div>
